  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="assets/images/HeroImage.jpg" class="max-w-lg rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Explore the internet's best pc battlestations</h1>
        <p class="py-6 text-2xl">Welcome to SetupWars, the best site for browsing and comparing pc setups from around the world!</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
